name: Build

on:
  - push

env:
  ARTIFACTS_DIR: ${{ vars.ARTIFACTS_DIR }}
  ARTIFACT_NAME: release-firefox-addon

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      attestations: write
    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm install --no-package-lock

      - name: Lint
        run: npm run lint

      - name: Package
        run: npm run package

      - name: Commit package
        uses: EndBug/add-and-commit@v9
        with:
          fetch: true
          default_author: github_actions
          message: Update dist
          pathspec_error_handling: exitImmediately
          push: true

      - name: Upload package
        id: upload-package
        uses: actions/upload-artifact@v6
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ./dist/

      - name: Download artifact
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          mkdir "$ARTIFACTS_DIR"
          gh api /repos/${{ github.repository }}/actions/artifacts/${{ steps.upload-package.outputs.artifact-id }}/zip > "$ARTIFACTS_DIR/$ARTIFACT_NAME.zip"

      - name: Attest artifact
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: |
            ${{ env.ARTIFACTS_DIR }}/${{ env.ARTIFACT_NAME }}.zip
